//COLORS
$color-primary: #ffd57e;
$color-primary-light: #ffefa0;
$color-primary-dark: #ac4b1c;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$primary-text-color: #000;
$inverted-text-color: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-light: #ffc93c;
$color-secondary-dark: #fca652;

$cta-font: "Roboto Slab";
$default-font: "Jost";

* {
  font-family: $default-font;
  transition: all 0.25s ease;
}

// 1em=16px;
